# Virtual Environment
.venv/
env/
venv/

# Environment variables
.env
*.env

# Database
db.sqlite3

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Static files
staticfiles/
media/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db